/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-mar-2019, 19:18:42
    Author     : Irene
*/

@import url("https://fonts.googleapis.com/css?family=Overpass");
:root {
  --red: #FB1420;
}

@keyframes spin {
  45% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(1080deg);
  }
  100% {
    transform: rotateY(1800deg);
  }
}
@keyframes vroom {
  44% {
    transform: translateX(-100%);
  }
  46.5% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(500%);
  }
}
html, body {
  height: 100%;
  background-color: #333;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  overflow: hidden;
}

.stop {
  color: #FFF;
  height: 144px;
  width: 144px;
  margin: auto;
  font-family: "Overpass";
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: spin 4s cubic-bezier(0.5, 0.63, 0.68, 0.89) infinite;
  animation-delay: 2s;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -10px;
}

.face, .backface {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.face {
  z-index: 10;
  transform: translateZ(10px);
}

.backface {
  z-index: 5;
  transform: rotateY(180deg);
}

.stop .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
}

.post-front,
.post-back,
.post-left,
.post-right {
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  background-color: gray;
  z-index: 1;
  transform: translateZ(-2px) translateX(-50%);
  backface-visibility: hidden;
}

.post-back {
  transform: translateZ(-20px) translateX(-50%) rotateY(180deg);
}

.post-left {
  transform: translateZ(-10px) translateX(-50%) rotateY(-90deg);
}

.post-right {
  transform: translateZ(-10px) translateX(-50%) rotateY(90deg);
}

.car {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 420px;
  transform: translateX(-100%);
  animation: vroom 4s infinite linear;
  animation-delay:2s;
  
}

.car img {
  display: block;
  width: 100%;
  height: auto;
}

.container{
    margin:0;
    width: 600px;
}