/* Required for full background image */

html,
body,
header,
.view {
    height: 100%;
}



@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 800px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }
}

/*Start Main Navigation*/
.top-nav-collapse {
    background-color: #78909c !important;
}



@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    }
}

/*End Main Navigation*/

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

h6 {
    line-height: 1.7;
}

.mt-6{
    margin-top:5rem;
}

.select-dropdown {
    color: white !important;
}

/*Start tag hr*/
.hr-light {
    border-top: 3px solid #fff;
    width: 100px;
}

.hr-medium{
    border-top: 3px solid #fff;
}
/*End tag hr*/

/*Start Log In*/
.rgba-gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(203, 219, 244, 0.4) 100%);
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(203, 219, 244, 0.4) 100%);
}

.card {
    background-color: rgba(203, 219, 244, 0.2);
}

.md-form label {
    color: #ffffff;
}


/*End Log In*/


::placeholder{
    color:white !important;
}




#video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;
}


